.background {
  background-color: rgb(42, 42, 42);
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 800px;
  padding: 2rem;
  background-color: rgb(219, 219, 219);
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  text-align: center;
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.input,
.select {
  flex: 1 1 45%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

.input:focus,
.select:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  flex: 1 1 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #218838;
}

.rideList {
  list-style: none;
  padding: 0;
}

.rideItem {
  background-color: #f8f9fa;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.rideItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.rideItem div {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  color: #333;
}

.rideItem strong {
  color: #007bff;
}

.emptyMessage {
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  font-weight: bold;
}
.errorMessage {
  background-color: #ff4252;
  color: black;
  border: 1px solid #ff3f52;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  align-self: center;
}
